.getinst {
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  
  font-weight: bold;
}
.search-input {
  /* Ajoutez vos styles personnalisés ici */
  /* Par exemple, pour changer la couleur du texte et du fond de l'input */
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
  margin-right: 85%;
  margin-top: 7%;
}

.table-wrapper {
  overflow-y: scroll;
  height: 400px; /* Ajustez la hauteur du tableau en fonction de vos besoins */
  width: 110%; /* Ajustez la largeur du tableau en fonction de vos besoins */
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-collapse: collapse;
  margin-top: 5px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #2895cf;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}